/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 14px

### Font

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700
*/

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --dark-blue: hsl(212, 21%, 14%);
  --grayish-blue: hsl(228, 12%, 48%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
main {
  background-color: var(--cream);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.card {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 650px;
  border-radius: 10px;
}

img {
  width: 100%;
}

.desktop-image {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.mobile-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-content {
  padding: 35px;
}

.perfume {
  display: inline-block;
  color: var(--grayish-blue);
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 5px;
}

.primary-heading {
  margin: 2.4rem 0;
  font-size: 3.5rem;
  line-height: 1;
  font-family: "Fraunces";
  color: var(--dark-blue);
  font-weight: 700;
}
.subtitle {
  font-family: "Montserrat";
  color: var(--grayish-blue);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
}

.btn {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1.9rem;
  background-color: var(--dark-cyan);
  text-decoration: none;
  font-family: "Montserrat";
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 10px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.cart-icon {
  width: 1.7rem;
  height: 1.7rem;
}
.btn:hover {
  background-color: hsl(158, 36%, 20%);
}

.price-box {
  margin: 2.7rem 0;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.discount-price {
  font-family: "Fraunces";
  font-size: 3.4rem;
  color: var(--dark-cyan);
}
.regular-price {
  font-family: "Montserrat";
  color: var(--grayish-blue);
  font-size: 1.4rem;
  text-decoration: line-through;
}

@media screen and (min-width: 651px) {
  .mobile-image {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .card {
    grid-template-columns: 1fr;
  }
  .desktop-image {
    display: none;
  }
  html {
    font-size: 55%;
  }
  .primary-heading {
    margin: 1.8rem 0 2rem 0;
  }
  .price-box {
    margin: 2.4rem 0 2rem 0;
  }
  .card-content {
    padding: 25px;
  }
  .subtitle {
    font-size: 1.6rem;
  }
}
